{% load snekboard_postprocess %}
<center>
  <h1>/{{ b.boardUrl }}/</h1>
  <h2>{{ b.boardTitle }}</h2>
</center>
<hr>
<style>
.tile {
        display: inline-block;
        width: 10em;
        border: 1px solid black;
        margin: 0.5em;
}
.tile-container {
        width: 100%;
}
</style>
<div class="tile-container">
{% for i in posts %}
<div class="tile">
  <div style="font-size: small">
    {% if i.mail %}
    <a href="mailto:{{ i.mail }}">Anonymous</a>
    {% else %}
    Anonymous
    {% endif %} <br>
    Responses: {{ i.answ }}<br>
    {{ i.postDate }}<br>
  </div>
  {{ i.postContent | postprocess | safe }}
</div>
{% endfor %}
</div>
<center>snekboard</center>
