<form action="{% url 'snekboard:postapi' b.boardUrl %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="parent" value="{{ parent }}">
  <table><tbody>
    <tr>
      <td>Email</td>
      <td><input type="text" name="mail"> {# not email because there's no @ in sage #}
          <input type="submit" value="Submit"></td>
    </tr>
    <tr>
      <td>Message</td>
      <td><textarea name="msg"></textarea></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="pass"></td>
    </tr>
  </tbody></table>
</form>
