{% load snekboard_postprocess %}
<div style="font-size: small">
{% if deletable %}
<input type="radio" name="post" value="{{ post.postId }}">
{% endif %}
{% if post.mail %}<a href="mailto:{{ post.mail }}">Anonymous</a>{% else %}Anonymous{% endif %}
{{ post.postDate }}
<a href="{% url 'snekboard:post' b.boardUrl post.postId %}">{{post.postId}}</a></div>
{{ post.postContent | postprocess | safe }}
<hr>
