<center>
  <h1>/{{ b.boardUrl }}/</h1>
  <h2>{{ b.boardTitle }}</h2>
</center>
<hr>
<center>
  <h3>Reply</h3>
  {% include 'snekboard/form.html' with b=b parent=post.postId %}
</center>
<hr><hr>
<form action="{% url 'snekboard:postdelete' b %}" method="post">
  {% csrf_token %}
{% include 'snekboard/postsnippet.html' with b=b post=post deletable=True%}
<hr>
{% for i in ans %}
{% include 'snekboard/postsnippet.html' with b=b post=i deletable=True%}
{% endfor %}
  <input type="password" name="pass">
  <input type="Submit" value="Delete">
</form>
<center>snekboard</center>
