<center>
  <h1>/{{ b.boardUrl }}/</h1>
  <h2>{{ b.boardTitle }}</h2>
</center>
<hr>
<hr>
<center>
  {% include 'snekboard/form.html' with b=b parent=0 %}
</center>
<hr><hr>
{% for i in t %}
{% include 'snekboard/postsnippet.html' with b=b post=i.0 deletable=False %}
<blockquote>
{% if i.1 %} Skipped {{ i.1 }} posts.
<a href="{%url 'snekboard:post' b.boardUrl i.0.postId %}">Click here to view.</a>
<hr>
{% endif %}
{% for j in i.2 %}
{% include 'snekboard/postsnippet.html' with b=b post=j deletable=False%}
{% endfor %}
</blockquote>
{% endfor %}
<hr>
|
{% for i in p %}
<a href="{% url 'snekboard:postsPage' b.boardUrl i %}">{{ i }}</a> |
{% endfor %}
<hr>
<center>snekboard</center>
